/* Background and layout */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    font-family: 'Ubuntu', sans-serif;
}

.graph-background {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background: linear-gradient(180deg, #173B61 40%, #EFEAE6 100%);

}

.graph-logo {
    position: absolute;
    top: 24px;
    left: 90px;
    width: 61px;
    height: 48px;
}

.graph-box {
    width: 1088px;
    height: 1000px;
    position: absolute;
    top: 16px;
    left: 176px;
    background: #EFEAE6;
    box-shadow: 0 0 8px 2px rgba(23, 59, 97, 0.64) inset;
    border-radius: 8px;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;

}

.graph-icon-wrapper {
    position: absolute;
    width: 64px;
    height: 72px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    transition: transform 0.2s ease;
}

.graph-icon-wrapper:hover {
    transform: scale(1.05);
}

.graph-icon-active {
    background-color: #EFEAE6;
    border-radius: 8px;
}

.graph-rectangle-active {
    width: 100%;
    height: 100%;
    background-color: #EFEAE6;
    border-radius: 8px;
    position: absolute;
    z-index: -1;
}

.graph-icon-image {
    width: 36px;
    height: 36px;
    z-index: 1;
}

.graph-icon-text {
    font-size: 12px;
    font-family: Ubuntu, sans-serif;
    font-weight: 500;
    margin-top: 4px;
    z-index: 1;
    color: #EFEAE6;
}

.graph-icon-active .graph-icon-text {
    color: #173B61;
    font-weight: 700;
}

.graph-icon-active .graph-icon-image {
    filter: brightness(0) saturate(100%) invert(18%) sepia(28%) saturate(1556%) hue-rotate(169deg) brightness(91%) contrast(88%);
}

.graph-logo-fii {
    position: absolute;
    top: 24px;
    left: 1288px;
    width: 49px;
    height: 48px;
}

.graph-icon-home {
    top: 96px;
    left: 88px;
}
.graph-icon-library {
    top: 170px;
    left: 88px;
}
.graph-icon-explore {
    top: 244px;
    left: 88px;
}
.graph-icon-profile {
    top: 318px;
    left: 88px;
}
.graph-content-box {
    position: absolute;
    top: 16px;
    left: 176px;
    width: 1088px;
    background-color: transparent;
    padding: 40px;
    z-index: 2;
    box-sizing: border-box;

}

.graph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.graph-title {
    top: 136px;
    left: 136px;
    color: #173B61;
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

.graph-unenroll-button {
    top:40px;
    position: absolute;
    left: 550px;
    width: 124px;
    height: 44px;
    background-color: #EFEAE6;
    color: #A52A2A;
    border: none;
    outline: 2px #A52A2A solid;
    border-radius: 16px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s;
}

.graph-enrolled-button {
    top:40px;
    position: absolute;
    left: 700px;
    width: 124px;
    height: 44px;
    background-color: #EFEAE6;
    color: #1E4B7B;
    border: none;
    outline: 2px #173B61 solid;
    border-radius: 16px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s;
}

.graph-start-button {
    left: 1153px;
    top: 136px;
    width: 166px;
    height: 44px;
    background-color: #e2a54d;
    color: #1E4B7B;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s;
}

.graph-start-button:hover {
    background-color: #f4f4f4;
}

.graph-divider {
    height: 1px;
    background-color: #173B61;
    width: 100%;
    opacity: 0.5;
    margin: 20px 0;
}

.graph-divider-small {
    height: 1px;
    background-color: #173B61;
    width: 100%;
    opacity: 0.3;
    margin: 12px 0;
}

.graph-section-title {
    color: #173B61;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.graph-flashcard {
    background: white;
    border-radius: 30px;
    border: 5px solid #173B61;
    padding: 20px;
    height: 100px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.graph-flashcard:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    z-index: 5;
}

.graph-files {
    margin-top: 30px;
}

.graph-file-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.graph-file-count {
    width: 40px;
    height: 40px;
    background-color: #FFB900;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.graph-file-entry {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.graph-file-text {
    margin-left: 20px;
}

.slick-track {
    display: flex !important;
    padding: 20px 0;
}

.slick-slide {
    padding: 0 10px;
}

.slick-list {
    overflow: hidden;
    margin: 0 -10px;
}

.slick-slide > div {
    height: 100%;
}

.graph-file-name {
    font-weight: bold;
    color: #173B61;
    font-size: 16px;
    margin: 0 0 5px 0;
}

.graph-file-details {
    color: #777;
    font-size: 14px;
    margin: 0;
}

.graph-enroll-button {
    top:40px;
    position: absolute;
    right: 120px;
    width: 124px;
    height: 44px;
    background: linear-gradient(90.83deg, #F59192 -0.82%, #9F73AB 15.44%, #3BAFBE 36.04%, #7BC497 52.98%, #D7A555 83.01%, #E9644D 99.37%);
    color: white;
    border: none;
    border-radius: 16px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s;
}

.graph-enroll-button:hover {
    background-color: #4b79df;
}

.graph-container {
    position: relative;
    min-height: 100vh;
    background-color: #173B61;
}

.graph-notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.graph-flashcards {
    margin: 30px 0;
    position: relative;
}

.graph-no-flashcards {
    background-color: #f0f0f0;
    padding: 30px;
    text-align: center;
    border-radius: 8px;
}

.graph-no-flashcards p {
    margin: 5px 0;
    color: #666;
    font-size: 16px;
}

.graph-no-flashcards-sub {
    color: #999;
    font-size: 14px !important;
}

.clickable {
    cursor: pointer;
    transition: transform 0.2s;
}

.clickable:hover {
    transform: scale(1.02);
    background-color: #f9f9f9;
}

.graph-file-entry {
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
}

.graph-file-text {
    flex-grow: 1;
} 