/* Main container */
html, body {
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(180deg, #173B61 40%, #EFEAE6 100%);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* Logo Quizzy */
.library-logo {
    width: 61px;
    height: 48px;
    left: 90px;
    top: 24px;
    position: absolute;
}

/* FII logo */
.library-logo-fii-library {
    width: 49px;
    height: 48px;
    left: 1288px;
    top: 24px;
    position: absolute;
}

/* Inner white box */
.library-inner-box {
    width: 1088px;
    height: 1500px;
    position: absolute;
    top: 16px;
    left: 176px;
    background: #EFEAE6;
    box-shadow: 0px 0px 8px 2px rgba(23, 59, 97, 0.64) inset;
    border-radius: 8px;
}

/* Sidebar buttons */
.library-icon-wrapper {
    position: absolute;
    width: 64px;
    height: 72px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    transition: transform 0.2s ease;
}

.library-icon-wrapper:hover {
    transform: scale(1.05);
}

.library-icon-wrapper.active {
    background-color: #EFEAE6;
    border-radius: 8px;
}

.library-icon-image {
    width: 36px;
    height: 36px;
    z-index: 1;
}

.library-icon-text {
    font-size: 12px;
    font-family: Ubuntu, sans-serif;
    font-weight: 500;
    margin-top: 4px;
    z-index: 1;
    color: #EFEAE6;
}

.library-icon-wrapper.active .library-icon-text {
    color: #173B61;
    font-weight: 700;
}

.library-icon-wrapper.active .library-icon-image {
    filter: brightness(0) saturate(100%) invert(18%) sepia(28%) saturate(1556%) hue-rotate(169deg) brightness(91%) contrast(88%);
}

/* Positioning */
.library-icon-home {
    top: 96px;
    left: 88px;
}

.library-icon-library {
    top: 170px;
    left: 88px;
}

.library-icon-explore {
    top: 244px;
    left: 88px;
}

.library-icon-profile {
    top: 318px;
    left: 88px;
}

/* Rectangle indicator for active */
.library-rectangle-library {
    position: absolute;
    width: 64px;
    height: 72px;
    border-radius: 8px;
    background-color: #EFEAE6;
    z-index: -1;
}

/* Cards container */
.library-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 20px;
    padding: 20px;
    position: absolute;
    top: 35px;
    left: 200px;
    overflow: hidden;
    box-sizing: border-box;
    height: auto;
}

/* Individual card */
.library-card {
    position: relative;
    width: 320px;
    height: 160px;
    background: #EFEAE6;
    border-radius: 16px;
    outline: 2px solid #173B61;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
    box-sizing: border-box;
}

.library-card:hover {
    background: #D1C6B1;
    transform: scale(1.05);
}

.library-card:active {
    transform: scale(0.98);
}

/* Card header */
.library-card-header {
    width: 100%;
    height: 36px;
    background: #E2A54D;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

/* Card text container */
.library-card-header-text {
    position: absolute;
    top: 44px;
    left: 16px;
    font-size: 18px;
    font-weight: 700;
    color: #173B61;
}

.library-course-title {
    color: #173B61;
    font-size: 32px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin-bottom: 12px;
}

.library-course-info {
    color: #173B61;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

.library-course-info .library-number {
    font-weight: 700;
}

@media(max-width: 1024px) {
    html, body {
        width: 100%;
        height: 100%;
        position: relative;
        background: linear-gradient(180deg, #173B61 40%, #EFEAE6 100%);
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    /* Logo Quizzy */
    .library-logo {
        width: 61px;
        height: 48px;
        left: 20px;
        top: 24px;
        position: absolute;
    }
    .library-logo-fii-library {
        width: 49px;
        height: 48px;
        left: 966px;
        top: 24px;
        position: absolute;
    }

    /* Inner white box */
    .library-inner-box {
        width: 850px;
        height: 1500px;
        position: absolute;
        top: 16px;
        left: 100px;
        background: #EFEAE6;
        box-shadow: 0px 0px 8px 2px rgba(23, 59, 97, 0.64) inset;
        border-radius: 8px;
    }
    .library-icon-home {
        top: 96px;
        left: 20px;
    }

    .library-icon-library {
        top: 170px;
        left: 20px;
    }

    .library-icon-explore {
        top: 244px;
        left: 20px;
    }

    .library-icon-profile {
        top: 318px;
        left: 20px;
    }
    .library-icon-wrapper {
        position: absolute;
        width: 64px;
        height: 72px;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 3;
        transition: transform 0.2s ease;
    }

    .library-icon-wrapper:hover {
        transform: scale(1.05);
    }

    .library-icon-wrapper.active {
        background-color: #EFEAE6;
        border-radius: 8px;
    }

    .library-icon-image {
        width: 36px;
        height: 36px;
        z-index: 1;
    }

    .library-icon-text {
        font-size: 12px;
        font-family: Ubuntu, sans-serif;
        font-weight: 500;
        margin-top: 4px;
        z-index: 1;
        color: #EFEAE6;
    }

    .library-icon-wrapper.active .library-icon-text {
        color: #173B61;
        font-weight: 700;
    }

    .library-icon-wrapper.active .library-icon-image {
        filter: brightness(0) saturate(100%) invert(18%) sepia(28%) saturate(1556%) hue-rotate(169deg) brightness(91%) contrast(88%);
    }
    .library-cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 60px;
        padding: 20px;
        position: absolute;
        top: 64px;
        left: 155px;
        overflow: hidden;
        box-sizing: border-box;
        height: auto;
    }
    .library-card {
        position: relative;
        width: 320px;
        height: 160px;
        background: #EFEAE6;
        border-radius: 16px;
        outline: 2px solid #173B61;
        cursor: pointer;
        transition: transform 0.3s ease, background 0.3s ease;
        box-sizing: border-box;
    }

    .library-card:hover {
        background: #D1C6B1;
        transform: scale(1.05);
    }

    .library-card:active {
        transform: scale(0.98);
    }

    /* Card header */
    .library-card-header {
        width: 100%;
        height: 36px;
        background: #E2A54D;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }

    /* Card text container */
    .library-card-header-text {
        position: absolute;
        top: 44px;
        left: 16px;
        font-size: 18px;
        font-weight: 700;
        color: #173B61;
    }

    .library-course-title {
        color: #173B61;
        font-size: 32px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
        margin-bottom: 12px;
    }

    .library-course-info {
        color: #173B61;
        font-size: 16px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 300;
    }

    .library-course-info .library-number {
        font-weight: 700;
    }

}
@media(max-width: 768px) {
    html, body {
        width: 100%;
        height: 100%;
        position: relative;
        background: linear-gradient(180deg, #173B61 40%, #EFEAE6 100%);
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    /* Logo Quizzy */
    .library-logo {
        width: 61px;
        height: 48px;
        left: 25px;
        top: 24px;
        position: absolute;
    }
    .library-logo-fii-library {
        width: 49px;
        height: 48px;
        left: 700px;
        top: 24px;
        position: absolute;
    }

    /* Inner white box */
    .library-inner-box {
        width: 590px;
        height: 900px;
        position: absolute;
        top: 16px;
        left: 100px;
        background: #EFEAE6;
        box-shadow: 0px 0px 8px 2px rgba(23, 59, 97, 0.64) inset;
        border-radius: 8px;
    }
    .library-icon-home {
        top: 96px;
        left: 20px;
    }

    .library-icon-library {
        top: 170px;
        left: 20px;
    }

    .library-icon-explore {
        top: 244px;
        left: 20px;
    }

    .library-icon-profile {
        top: 318px;
        left: 20px;
    }
    .library-icon-wrapper {
        position: absolute;
        width: 64px;
        height: 72px;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 3;
        transition: transform 0.2s ease;
    }

    .library-icon-wrapper:hover {
        transform: scale(1.05);
    }

    .library-icon-wrapper.active {
        background-color: #EFEAE6;
        border-radius: 8px;
    }

    .library-icon-image {
        width: 36px;
        height: 36px;
        z-index: 1;
    }

    .library-icon-text {
        font-size: 12px;
        font-family: Ubuntu, sans-serif;
        font-weight: 500;
        margin-top: 4px;
        z-index: 1;
        color: #EFEAE6;
    }

    .library-icon-wrapper.active .library-icon-text {
        color: #173B61;
        font-weight: 700;
    }

    .library-icon-wrapper.active .library-icon-image {
        filter: brightness(0) saturate(100%) invert(18%) sepia(28%) saturate(1556%) hue-rotate(169deg) brightness(91%) contrast(88%);
    }
    .library-cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 60px;
        padding: 20px;
        position: absolute;
        top: 64px;
        left: 105px;
        overflow: hidden;
        box-sizing: border-box;
        height: auto;
    }
    .library-card {
        position: relative;
        width: 240px;
        height: 160px;
        background: #EFEAE6;
        border-radius: 16px;
        outline: 2px solid #173B61;
        cursor: pointer;
        transition: transform 0.3s ease, background 0.3s ease;
        box-sizing: border-box;
    }

    .library-card:hover {
        background: #D1C6B1;
        transform: scale(1.05);
    }

    .library-card:active {
        transform: scale(0.98);
    }

    /* Card header */
    .library-card-header {
        width: 100%;
        height: 36px;
        background: #E2A54D;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }

    /* Card text container */
    .library-card-header-text {
        position: absolute;
        top: 44px;
        left: 16px;
        font-size: 18px;
        font-weight: 700;
        color: #173B61;
    }

    .library-course-title {
        color: #173B61;
        font-size: 32px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
        margin-bottom: 12px;
    }

    .library-course-info {
        color: #173B61;
        font-size: 16px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 300;
    }

    .library-course-info .library-number {
        font-weight: 700;
    }
}
@media(max-width: 480px) {
    html, body {
        width: 100%;
        height: 100%;
        position: relative;
        background: linear-gradient(180deg, #173B61 40%, #EFEAE6 100%);
        overflow: hidden;
        margin: 0;
        padding: 0;
        overflow-y: auto;
    }

    /* Logo Quizzy */
    .library-logo {
        width: 61px;
        height: 48px;
        left: 10px;
        top: 24px;
        position: absolute;
    }
    .library-logo-fii-library {
        width: 49px;
        height: 48px;
        left: 370px;
        top: 24px;
        position: absolute;
    }

    /* Inner white box */
    .library-inner-box {
        width: 280px;
        height: 900px;
        position: absolute;
        top: 16px;
        left: 80px;
        background: #EFEAE6;
        box-shadow: 0px 0px 8px 2px rgba(23, 59, 97, 0.64) inset;
        border-radius: 8px;
    }
    .library-icon-home {
        top: 96px;
        left: 10px;
    }

    .library-icon-library {
        top: 170px;
        left: 10px;
    }

    .library-icon-explore {
        top: 244px;
        left: 10px;
    }

    .library-icon-profile {
        top: 318px;
        left: 10px;
    }
    .library-icon-wrapper {
        position: absolute;
        width: 64px;
        height: 72px;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 3;
        transition: transform 0.2s ease;
    }

    .library-icon-wrapper:hover {
        transform: scale(1.05);
    }

    .library-icon-wrapper.active {
        background-color: #EFEAE6;
        border-radius: 8px;
    }

    .library-icon-image {
        width: 36px;
        height: 36px;
        z-index: 1;
    }

    .library-icon-text {
        font-size: 12px;
        font-family: Ubuntu, sans-serif;
        font-weight: 500;
        margin-top: 4px;
        z-index: 1;
        color: #EFEAE6;
    }

    .library-icon-wrapper.active .library-icon-text {
        color: #173B61;
        font-weight: 700;
    }

    .library-icon-wrapper.active .library-icon-image {
        filter: brightness(0) saturate(100%) invert(18%) sepia(28%) saturate(1556%) hue-rotate(169deg) brightness(91%) contrast(88%);
    }
    .library-cards-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px 50px;
        padding: 20px;
        position: absolute;
        top: 24px;
        left: 80px;
        overflow: hidden;
        box-sizing: border-box;
        height: auto;
    }
    .library-card {
        position: relative;
        width: 240px;
        height: 160px;
        background: #EFEAE6;
        border-radius: 16px;
        outline: 2px solid #173B61;
        cursor: pointer;
        transition: transform 0.3s ease, background 0.3s ease;
        box-sizing: border-box;
    }

    .library-card:hover {
        background: #D1C6B1;
        transform: scale(1.05);
    }

    .library-card:active {
        transform: scale(0.98);
    }

    /* Card header */
    .library-card-header {
        width: 100%;
        height: 36px;
        background: #E2A54D;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }

    /* Card text container */
    .library-card-header-text {
        position: absolute;
        top: 44px;
        left: 16px;
        font-size: 18px;
        font-weight: 700;
        color: #173B61;
    }

    .library-course-title {
        color: #173B61;
        font-size: 32px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
        margin-bottom: 12px;
    }

    .library-course-info {
        color: #173B61;
        font-size: 16px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 300;
    }

    .library-course-info .library-number {
        font-weight: 700;
    }

}

